<!-- <div class="row message unread"> -->

<div class="row message unread"
ng-class= "{
  read: $ctrl.msg.read,
  selected: $ctrl.msg.selected

}"
>
  <div class="col-xs-1">
    <div class="row">
      <div class="col-xs-2">
        <input type="checkbox"

        ng-model= "$ctrl.msg.selected"
      />
      </div>
      <div class="col-xs-2">
        <i ng-click= "$ctrl.starMessage($ctrl.msg)"
          ng-class= "{
            'fa fa-star': $ctrl.msg.starred,
            'fa fa-star-o': !$ctrl.msg.starred
          }"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-11"

>
<span ng-repeat= "label in $ctrl.msg.labels" class="label label-warning">
  {{label}}
</span>



    <a href="#">
    {{$ctrl.msg.subject}}
    </a>

  </div>
</div>
