<div class="row toolbar">
  <div class="col-md-12">
    <p class="pull-right">
      <span class="badge badge">2</span>
      unread messages
    </p>

    <button ng-click="$ctrl.checkall()" class="btn btn-default">
      <i class="fa fa-check-square-o"

      ></i>
    </button>

    <button ng-click="$ctrl.readall()" class="btn btn-default">
      Mark As Read
    </button>

    <button ng-click="$ctrl.unreadall()" class="btn btn-default">
      Mark As Unread
    </button>

    <select ng-change="$ctrl.addlabel()" class="form-control label-select">
      <option>Apply label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <select class="form-control label-select">
      <option>Remove label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <button class="btn btn-default">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
